<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>ZERO waste</title>
    <link rel="icon" type="image/x-icon" href="/images/4.png">
</head>
<body>
    
   {{>navbar}}

   <img src="images/1.png" width="100%" height="auto"> ///href banao isko news link pe
   
    
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>DISPOSE E-WASTE</h1>
            <p>WE ARE A TEAM OF <span class="bold-style">PROFESSIONAL PEOPLE</span></p>
            <button class="btn-style btn-primary">Read more</button>


                </div>
                
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                <figure>
                    <img src="images/growth.svg" alt="herosection_image">
                </figure>
            </div>
            </div>


        </div>
    </div>

</div>
<br>
<br>
<br>
<img src="images/2.png" width="100%" height="auto">
<br>
<br>
<br>
 {{>about}}
 <img src="images/3.png" width="100%" height="auto">

 {{>service}}

 {{>gallery}}
 <br>
 <br>
 <br>
 <br>

 {{>maps}}
{{>contact}}
<br>
<br>
<br>
<br>
 {{>follow}}
    
      
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>


</body>
</html>