<div class="container-fluid mt-5 about-style", id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Find us on Google Maps</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14001.865550055703!2d77.49327078801845!3d28.675692145759108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf30885b1e2a5%3A0x9983675e24c6638b!2sAKGEC%3A%20Ajay%20Kumar%20Garg%20Engineering%20College%2C%20Ghaziabad!5e0!3m2!1sen!2sin!4v1662914676162!5m2!1sen!2sin" 
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
    </div>
    
</div>
