<div class="container-fluid mt-5 about-style", id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">🌎</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class ="our-services privacy">
                              
                             
                <h4>Waste Management Services</h4>
                <p>We formulate effective waste management plans to solve the massive waste problem in our cities. In residential communities, we coordinate with volunteers, welfare associations, housekeeping and maintenance staff.</p>
          <br>
          <br>
          <br>
         
    </div>
</div>
            </div>
              <div class="col-md-4">
                        <div class="box">
                            <div class="our-services backups">
                               
                <h4>Recycled Products</h4>
                <p>Zero Waste creates products made from recycled and up-cycled waste materials. The waste materials are segregated based on reusability, washed, dried and then transformed into functional products.</p>
   <br>
   <br>
   <br>
   <br>
   <br>
    </div>
</div>
            </div>
  <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">
                                 
                <h4>Extended Producer Responsibility</h4>
                <p>It is a commitment made by a producer to facilitate a reverse collection mechanism and recycling of end of life, post-consumer waste. The objective is to circle it back into the system to recover resources embedded in the waste.</p>
   <br>
    </div>
</div>
            </div>
  <div class="col-md-4">
                        <div class="box">
                            <div class="our-services ssl">
                                 
                <h4>E-waste</h4>
                <p> It helps in extracting the reusable components and precious metals like copper, gold and various functional parts from the devices. E-waste recyclers use processes such as open incineration and acid-leeching. </p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</div>
            </div>
  <div class="col-md-4">
                        <div class="box">
                            <div class="our-services speedup">
                                
                <h4>Consulting</h4>
                <p> It is a leading waste management consultant to provide advisory, consultancy, research and auditing services related to circular economy, resource recovery, reverse logistics, waste handling and sustainable development goals. </p>
   
   <br>
   <br>
   <br>
   <br>
    </div>
</div>
            </div>
  <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                
                <h4>Incineration</h4>
                <p>Incineration is a waste treatment process that involves the combustion of substances contained in waste materials.[1] Industrial plants for waste incineration are commonly referred to as waste-to-energy facilities. Incineration of waste materials converts the waste into ash, flue gas and heat.</p>
   <br>
   <br>
    </div>
</div>
            </div>


</div>




            </div>
        </div>
        </div>
</div>